---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>👋🏽 Hi friends, I'm Will.</h1>
			<p>
				I'm currently a design systems developer advocate learning to
				<s>survive</s> thrive with ADHD while juggling my three little kids.
				I love teaching other developers and helping them realise their potential
				by learning what they might consider intimidating. I am equally excited
				to learn what each person can teach me, about software development
				or the world we share. I am devoted to breaking down barriers and
				making our industry one accepting and supportive of all.
			</p>
			<p>Here are some things I've worked on:</p>
			<ul>
				<li>
					Helping maintain <a
						href="https://github.com/Workday/canvas-kit"
						>Canvas Kit</a
					>, an open source design system library that implements the <a
						href="https://canvas.workday.com/"
						>Workday Canvas Design System</a
					>. I focus most on welcoming new contributors and supporting
					our internal developer community.
				</li>
				<li>
					Growing the <a
						href="https://reactdenver.com/"
						target="_blank">React Denver</a
					> community through monthly events
				</li>
				<li>
					Speaking at a few conferences like JSConf Iceland,
					<a
						href="https://www.youtube.com/watch?v=JMqZgUNkqgk&t=587s"
						target="_blank">CascadiaJS</a
					>, React Rally, and Nodevember
				</li>
				<li>
					Encouraging others to give their first meetup or conference
					talk
				</li>
				<li>
					Publishing a <a
						href="https://chrome.google.com/webstore/detail/markdown-menu-for-github/jekgocfoijmbgcjejohdgmojaejofdpo?hl=en#:~:text=Markdown%20Menu%20for%20GitHub&text=Adds%20a%20navigation%20menu%20to,include%20a%20Table%20of%20Contents."
						target="_blank">browser extension</a
					> to add a table of contents to GitHub READMEs releases six years
					before they finally implemented it
				</li>
				<li>Writing bunch of ESLint rules</li>
				<li>
					Teaching people how to write their first JavaScript tool
					through talks, workshops, and a little website: <a
						href="https://astsareawesome.com/"
						target="_blank"
						>astsareawesome.com<a></a>
					</a>
				</li>
			</ul>

			<p>
				This was built with <a
					href="https://astro.build/"
					target="_blank">Astro</a
				>, deployed with <a
					href="https://www.netlify.com/"
					target="_blank">Netlify</a
				>, and probably edited on <a
					href="https://codesandbox.io/"
					target="_blank">CodeSandbox</a
				>.
			</p>
			<Footer />
		</main>
	</body>
</html>
