---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>👋🏽 Hi friends, I'm Will.</h1>
			<p>
				I'm an independent developer advocate and I've worked in design
				systems, React, and full-stack TypeScript development. I
				co-organize <a href="https://denverscript.com/" target="_blank"
					>DenverScript</a
				> and I give talks on improving developer experience (DX).
			</p>
			<p>Here are some things I've worked on:</p>
			<ul>
				<li>
					Helping maintain <a
						href="https://github.com/Workday/canvas-kit"
						>Canvas Kit</a
					>, an open source design system library that implements the <a
						href="https://canvas.workday.com/"
						>Workday Canvas Design System</a
					>. I focused most on welcoming new contributors and growing
					an internal developer community.
				</li>
				<li>
					Growing the Denver developer community through monthly
					events. I previously organized <a
						href="https://reactdenver.com/"
						target="_blank">React Denver</a
					> and founded HartfordJS.
				</li>
				<li>
					Speaking at conferences like JSConf Iceland,
					<a
						href="https://www.youtube.com/watch?v=JMqZgUNkqgk"
						target="_blank">CascadiaJS</a
					>, React Rally, and Nodevember. I spoke most recently at <a
						href="https://jsnation.com/"
						target="_blank">JSNation</a
					> about building your own JavaScript tools.
				</li>
				<li>
					Encouraging others to give their first meetup or conference
					talk, through direct mentorship and by organizing local
					workshops as part of <a
						href="https://twitter.com/gdcfpday"
						target="_blank">Global Diversity CFP Day</a
					>.
				</li>
				<li>
					Publishing a <a
						href="https://chrome.google.com/webstore/detail/markdown-menu-for-github/jekgocfoijmbgcjejohdgmojaejofdpo?hl=en#:~:text=Markdown%20Menu%20for%20GitHub&text=Adds%20a%20navigation%20menu%20to,include%20a%20Table%20of%20Contents."
						target="_blank">browser extension</a
					> to add a table of contents to GitHub READMEs and Markdown files,
					before they <a
						href="https://twitter.com/willklein_/status/1375688038651596810"
						target="_blank">implemented it themselves</a
					>
				</li>
				<li>
					Writing a bunch of ESLint rules and reducing code review
					feedback
				</li>
				<li>
					Teaching people how to write their first JavaScript tool
					through talks, workshops, and a little website: <a
						href="https://astsareawesome.com/"
						target="_blank"
						>ASTsareAwesome.com<a></a>
					</a>
				</li>
			</ul>

			<h2>Independent Developer Advocacy</h2>

			<p>
				If you're writing code or building a product that other
				developers use, you're doing developer relations. If you want to
				be more intentional than accidental, let's have a chat: <a
					href="https://calendly.com/willklein"
					>https://calendly.com/willklein</a
				>.
			</p>
			<p>
				My recent background is in design systems, but I'm also a
				specialist in building developer tools and designing a better
				developer experience. This includes documentation, community
				building, and improving cross-team relationships.
			</p>

			<Footer />
		</main>
	</body>
</html>
