---
const today = new Date();
---

<footer>
	<p>
		This was built with <a href="https://astro.build/" target="_blank"
			>Astro</a
		>, deployed with <a href="https://www.netlify.com/" target="_blank"
			>Netlify</a
		>, and edited on <a href="https://codesandbox.io/" target="_blank"
			>CodeSandbox</a
		>.
	</p>
	<p>&copy; {today.getFullYear()} Will Klein. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
