---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="https://github.com/willklein" target="_blank">
			GitHub
		</HeaderLink>
		<HeaderLink
			href="https://www.linkedin.com/in/willklein/"
			target="_blank"
		>
			LinkedIn
		</HeaderLink>
		<HeaderLink href="https://twitter.com/willklein_" target="_blank">
			Twitter
		</HeaderLink>
		<HeaderLink
			href="https://bsky.app/profile/willklein.bsky.social"
			target="_blank"
		>
			Bluesky
		</HeaderLink>

		<HeaderLink href="https://www.threads.net/@willklein" target="_blank">
			Threads
		</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
